function @build {
  docker buildx build --platform linux/amd64 . --tag leonardoventurini/k8s-zerotier-bridge:latest --push
}

function @release {
  helm package charts/k8s-zerotier-bridge
  helm repo index .
}
